# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [10]:
data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.shape

(4008, 11)

In [9]:
data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [ ]:
#Customer Lifetime Value may be represented sa float

In [26]:
data.Customer.nunique()

1071

In [19]:
data.Customer.count()

1071

In [17]:
data.Customer.value_counts().sort_values(ascending=False)

Customer
RB50392    1
BW63560    1
UL64533    1
AI49188    1
WW63253    1
          ..
XD85577    1
TM65736    1
VJ51327    1
GS98873    1
MY31220    1
Name: count, Length: 1071, dtype: int64

In [ ]:
#it seems, that there are 1071 meaningful rows.
# There are 1071 unique customer

In [24]:
data[data.Customer == 'RB50392']

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934

In [27]:
data.ST.nunique()

8

In [28]:
data.ST.count()

1071

In [35]:
data.ST.value_counts()
#definitions need refining - like Cali should be replaced with California, AZ with Arizona, WA with Washington

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [ ]:
# There are 5 unique US states that 1071 customers are registered in

In [32]:
data.GENDER.nunique()

5

In [33]:
data.GENDER.count()

954

In [57]:
data[data.GENDER.isnull() == True][data.Customer.isnull() == False][:5]

C:\Users\YuriKorin\AppData\Local\Temp\ipykernel_16524\3380532389.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data.GENDER.isnull() == True][data.Customer.isnull() == False][:5]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
11,VQ65197,California,NaN,College,819719.71%,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,881901.89%,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,538443.17%,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132

In [ ]:
#Some customers do not have gender defined

In [34]:
data.GENDER.value_counts()
# definitions need refining

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [51]:
data.Education.nunique()

6

In [52]:
data.Education.count()

1071

In [53]:
data.Education.value_counts()
# definitions need refining

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [ ]:
#All customers have definitions defined

In [54]:
data['Customer Lifetime Value'].nunique()

1027

In [55]:
data['Customer Lifetime Value'].value_counts()

Customer Lifetime Value
445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: count, Length: 1027, dtype: int64

In [65]:
data['Income'][data.Income.isnull() == False].min()

0.0

In [66]:
data['Income'][data.Income.isnull() == False].max()

99960.0

In [63]:
data['Income'][data.Income.isnull() == False].median()

36234.0

In [64]:
data['Income'][data.Income.isnull() == False].mean()

39295.70121381886

In [67]:
data['Income'][data.Income.isnull() == False].std()

30469.42706040185

In [68]:
data['Income'][data.Income.isnull() == False].quantile([0.25, 0.5, 0.75])

0.25    14072.0
0.50    36234.0
0.75    64631.0
Name: Income, dtype: float64

In [70]:
data['Monthly Premium Auto'][data['Monthly Premium Auto'].isnull() == False].min()

61.0

In [71]:
data['Monthly Premium Auto'][data['Monthly Premium Auto'].isnull() == False].max()

35354.0

In [72]:
data['Monthly Premium Auto'][data['Monthly Premium Auto'].isnull() == False].median()

83.0

In [73]:
data['Monthly Premium Auto'][data['Monthly Premium Auto'].isnull() == False].mean()

193.234360410831

In [74]:
data['Monthly Premium Auto'][data['Monthly Premium Auto'].isnull() == False].std()

1601.190368577621

In [75]:
data['Monthly Premium Auto'][data['Monthly Premium Auto'].isnull() == False].quantile([0.25, 0.5, 0.75])

0.25     68.0
0.50     83.0
0.75    109.5
Name: Monthly Premium Auto, dtype: float64

In [77]:
data['Number of Open Complaints'].nunique()

6

In [78]:
data['Number of Open Complaints'].count()

1071

In [80]:
data['Number of Open Complaints'].value_counts().sort_values(ascending=False)

Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [81]:
data['Policy Type'].nunique()

3

In [82]:
data['Policy Type'].count()

1071

In [83]:
data['Policy Type'].value_counts().sort_values(ascending=False)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [84]:
data['Vehicle Class'].nunique()

6

In [85]:
data['Vehicle Class'].count()

1071

In [86]:
data['Vehicle Class'].value_counts().sort_values(ascending=False)

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [158]:
data['Total Claim Amount'][data['Total Claim Amount'].isnull() == False].min()

0.382107

In [157]:
data['Total Claim Amount'][data['Total Claim Amount'].isnull() == False].max()

2893.239678

In [156]:
data['Total Claim Amount'][data['Total Claim Amount'].isnull() == False].median()

354.729129

In [155]:
data['Total Claim Amount'][data['Total Claim Amount'].isnull() == False].mean()

404.98690940896364

In [154]:
data['Total Claim Amount'][data['Total Claim Amount'].isnull() == False].std()

293.0272599264041

In [153]:
data['Total Claim Amount'][data['Total Claim Amount'].isnull() == False].quantile([0.25, 0.5, 0.75])

0.25    202.157702
0.50    354.729129
0.75    532.800000
Name: Total Claim Amount, dtype: float64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [94]:
locations = data.ST

In [97]:
locations = locations[locations.isnull()==False]

In [98]:
locations

0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
1066        Oregon
1067          Cali
1068       Arizona
1069    California
1070    California
Name: ST, Length: 1071, dtype: object

In [99]:
locations.value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [100]:
locations.replace('Cali', 'California', inplace = True)

In [101]:
locations.replace('AZ', 'Arizona', inplace = True)

In [102]:
locations.replace('WA', 'Washington', inplace = True)

In [103]:
locations.value_counts()

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [104]:
locations_non_cleaned = data.ST[data.ST.isnull()==False]

In [106]:
locations_non_cleaned.value_counts().sort_values()[:5]

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [113]:
policies = data['Policy Type'].value_counts().sort_values(ascending=False)

In [114]:
policies

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [117]:
most_freq_sold = policies.idxmax()

In [118]:
most_freq_sold

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [123]:
pers_auto = data.loc[data['Policy Type']=='Personal Auto', 'Income']

In [126]:
pers_auto.mean()

38180.69871794872

In [127]:
corp_auto = data.loc[data['Policy Type']=='Corporate Auto', 'Income']

In [128]:
corp_auto.mean()

41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [132]:
total_claim_75 = data['Total Claim Amount'].quantile([0.75])
total_claim_75

0.75    532.8
Name: Total Claim Amount, dtype: float64

In [143]:
total_claim_75 = float(total_claim_75)

In [144]:
total_claim_75

532.8

In [145]:
high_policy_claim = data.loc[data['Total Claim Amount']> total_claim_75, :]

In [146]:
high_policy_claim

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [147]:
high_policy_claim['Total Claim Amount'].min()

537.6

In [148]:
high_policy_claim['Total Claim Amount'].max()

2893.239678

In [149]:
high_policy_claim['Total Claim Amount'].median()

679.597985

In [150]:
high_policy_claim['Total Claim Amount'].mean()

782.2282631818181

In [151]:
high_policy_claim['Total Claim Amount'].std()

292.7516398099979

In [152]:
high_policy_claim['Total Claim Amount'].quantile([0.25, 0.5, 0.75])

0.25    606.521741
0.50    679.597985
0.75    851.400000
Name: Total Claim Amount, dtype: float64